.password input{
    height: 2rem;
    border: none;
    border-radius: 5px;
    width: 15rem;
    justify-content: center;
    justify-items: center;
    padding: 5px;
    margin-top: 1rem;
    background: rgb(233, 213, 213);
}

.password button{
    padding: 5px;
    margin: 3px;
    background-color:rgb(28, 154, 204);
    border-radius: 10px;
    border: none;
    font-size: 16px;
    font-weight: bold;
    height: 30px;
    width: 90px;
}
.password button:hover{
    background-color: beige;
}